.nav_bar {
    background-color: #C3C96F;
}

.icon-button {
    background-image: url(/src/images/logo.svg);
}

.main {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.carousel-section {
    width: 800px;   
    float: right;
    border: 1px solid #C3C96F;
    margin-top: 85px;  
    margin-left: 50px;
    margin-right: 20px;
    color: black;
    flex-grow: 5;
}



.about-company-section {
    text-align: justify;
    color: #C3C96F;    
    width: 600px;
    margin: 20px;
    border: 1px solid #C3C96F;
    margin-top: 85px;  
    padding: 10px;
}

.about-company-section h1 {
    text-align: center;
}

.login-button, .signUp-button {
    margin-right: 10px;
    background-color: aliceblue;
}

.footer {
    background-color: #C3C96F;
    height: 105px;
}

.login-section {
    background-color: black;
    height: 700px;
    color: #C3C96F;
    padding-top: 185px;
    padding-left: 250px;
    padding-right: 350px;
}

.about h1 {
    text-align: center;
}

.about {
    background-color: black;
    height: 1000px;
    color: #C3C96F;
    text-align: justify;
}

.menu-container {
    background-color: black;
    color: #C3C96F;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about-images {
    width: 25%;
    padding: 10px;
    margin-right: 105px;
    border: 1px solid #C3C96F;
}

.menu-cards {
    margin-top: 80px;
    height: 500px;
    margin-right: 50px;
    margin-left: 20px;
}

.signup-section {
    padding: 86px;
}

.section-signup {
    background-color: black;
    color: #C3C96F;
    height: 800px;
}

.menu {
    background-color: black;
    height: 800px;
}

.reservation {
    background-color: black;
    color: #C3C96F;
    height: 800px;
}

.online-section {
    background-color: black;
    color: #C3C96F;
    height: 800px;
}

.articles {
    background-color: black;
    color: #C3C96F;
    height: 800px;
}
